body{
    font-family: Figtree variablefont wght,sans-serif;
}
.ab{
    width: auto;
    height: auto;
}
.stickybar{
    width:auto;
    height: 150px;
    background-color:#4230DD;
    top: 0%;
    position: sticky;
    opacity: 0.9;
    z-index: 5;
   
}
#logo{
    position: absolute; 
    top: 17%; 
    left: 10%;
    width: 18%; 
    height: auto;
}
.bar{
    position: absolute;
    top: 35%;
    left: 37%;
    
}
#ff{
    width: 70%;
}
a{
    text-decoration: none;
    padding: 22px;
    color: aliceblue;
}
.btn{
    position: absolute;
    top: 0%;
    left: 100%;
    color: #1C1279;
    background: #CaF4E0;
    padding: 2.5% 6% 2.5%;
    border-radius: 9px;
    box-shadow: 5px 5px;
    transition: transform 0.3s ease;
}
.btn:hover{
    transform: translateX(5px);
    transform: translateY(5px);
    
}
.dropdown {
    float: left;
    position: absolute;
    top: -10%;
    left: 50%;
  }
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #1C1279;
}
.dropdown-content a {
    color: aliceblue;
    padding: 8% 10%;
    text-decoration: none;
    display: block;
}

.dropbtn {
    background-color:#4230DD;
    color: aliceblue;
    text-decoration: aliceblue;
    padding: 0%;
    border: none;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1C1279;
    min-width: 250%;
    opacity: 0.8;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  } 
  .big-text{
    position: absolute;
    top:20%;
    left: 10%;
    width:35%;
    height:80%;
    color:aliceblue;
    font-size: 40px;
    font-family: Figtree,sans-serif;
}
.normal-text{
    position: absolute;
    top:43%;
    font-size: 20px;
} 
.a1{
    width: auto;
    height:700px;
    /*background-color: #4230dd;*/
    background-image: url("https://assets-global.website-files.com/5e4482baa13a1926b23e2187/6227e532329aa42351839eb0_Home%20-%20hero%20qr%20code.png");
    background-repeat: no-repeat;
    background-size:100% 120%;
}

.image-76{
    margin: 0px 0px 5%;
    width: 18%;
}
.images{
    padding-left: 7%;
}
.a2{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    padding-top: 5%;
    width: auto;
    height:auto;
    box-shadow: 2px 2px 5px 5px rgb(204, 206, 206);
}
.app {
    padding-top: 7%;
    transition: transform 0.3s ease;
  }
  
.app:hover {
    transform: translateY(-9px);
  }
.drop-content {
    display: none;
}

.drop{
    width: 5%;
    height: 5%;
    position: absolute;
    top: 200%;
    left: 45%;
    border: none;
    border-radius: 20px;
    background-color:azure;
}
.b{
    margin-top: 10%;
    padding: 4%;
    width: 47%;
    height: 10%;
    position: relative;
    left: 20%;
    border-style: none;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgb(204, 206, 206);
}
.one{
    background-color: #4230dd;
    color: aliceblue;
    position: absolute;
    top: 30%;
    left: 63%;
    width: 30%;
    height: 40%;
}
.title{
    padding-top: 10%;
    position: relative;
    margin-bottom: 10%;
    width: 40%;
    left: 39%;
    font-size: 48px;
    font-family: Figtree variablefont wght,sans-serif;
}
.b1{
    background-color: #f2f2ff;
    position: relative;
    border-style: none;
    height: 100%;
    
}
.box{
    width: 80%;
    background-color: #f2f2ff;
    position: relative;
    border-style: none;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgb(204, 206, 206);
}
.heading{
    font-family: Figtree,sans-serif;
    font-size: 24px;
    width: auto;
    padding-bottom: 5%;
    font-size: 32px;
    text-align: left;
    margin-top: 7%;
}
.s1{
    left: 0%;
    width: 50%;
}
.sodhi{
    padding: 7%;
    position: relative;
    font-family: Figtree,sans-serif;
    font-size: 18px;
}
#loc{
    text-decoration: none;
    color: #4230DD;
}
#d{
    margin: 5%;
    color: #4d4d66;
}
#map{
    position: absolute;
    top: 4%;
    left: 65%;
    width: 33%;
    height: 93%;
}
.b2{
    margin-top: 10%;
    height: 100%;
}
.b3{
    margin-top: 10%;
    height: 100%;
}
#girl{
    position: absolute;
    top: -5%;
    left: 6%;
    width: 27%;
    height: 100%;
}
.s2{
    left: 33%;
    width: 55%;
}
.s3{
    left: 0%;
    width: 40%;
}
#food{
    position: absolute;
    top: 1%;
    left: 64.5%;
    width: 35.5%;
    height: 100%;
}
#t{
    padding-top: 30%;
    position: relative;
    margin-bottom: 20%;
    font-size: 40px;
    font-family: Figtree variablefont wght,sans-serif;
}
.t{
    text-align: center;
    position: relative;
    width: 49%;
    left: 26%;
}
.review{
    margin: 0 auto;
    border-style: none;
    border-radius: 8px;
    background: #ffffff;
    width: 80%;
    height: 300px;
    box-shadow: 1px 1px 10px 1px rgb(204, 206, 206);
}
#quote{
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
}
.r1 , .r2,.r3{
    position: relative;
    margin-bottom: 5%;
}
.r4{
    position: relative;
}
#stars{
    position: absolute;
    top: 30%;
    left: 3%;
}
#rating{
    padding-top: 2%;
    padding-left: 3.5%;
    font-size: 18px;
    font-family: Figtree variablefont wght,sans-serif;
}
#name{
    padding-top: 2%;
    padding-left: 3.5%;
    font-weight: bold;
    color: #1c1279;
    font-size: 14px;
    font-family: Figtree variablefont wght,sans-serif;
}
.divs{
    position: relative;
    width: auto;
    height:730px;
    background-color: #4230dd;

}
.b-text{
    position: absolute;
    top:7%;
    left: 8%;
    width:32%;
    height:100%;
    padding: 3%;
    color:aliceblue;
    font-size: 40px;
    font-family: Figtree,sans-serif;
}
.n-text{
    color: #CaF4E0;
    position: absolute;
    top:0%;
    font-size: 24px;
}
#bb{
    position: absolute;
    top: 18%;
    left: 48%;
    width: 45%;
    height: 80%;
}
#abhi{
    width: 100%;
    height: 19.5%;
    position: absolute;
    top: 80.5%;
}
.space{
    width: auto;
    height: auto;
    padding: 4%;
    border-style: none;
}
.footer{
    width: auto;
    height:auto;
    position: relative;
    background-color: rgb(16, 10, 28);
    padding: 8% 7% 10% 12%;
}
.footer-follow{
    position: relative;
    font-weight: 600;
    left:100%;
}
.images-footer{
    display:inline-flex;
    flex-direction: row;
    padding-top:5%;
    width:auto;
    height:auto;
}
.img1-footer, .img2-footer,.img3-footer, .img4-footer, .img5-footer{
    width:18.5%;
    height:100%;
    border-radius: 10%;
    padding:1%;
}
.footer-img6{
    width: 30%;
    height: 30%;
}
.footer-logos{
    position: absolute;
    top:51%;
    left:18%;
}
.footer-text{
    position: absolute;
    top:63%;
    font-weight: 600;
    width:18%;
    left:16%;
    color:aliceblue;
    font-size:xx-large;
}
.footer-text:hover{
    color:antiquewhite;
}
.footer-icons{
    position: relative;
    width:80%;
    height:100%;
    padding-top:20%;
}
.insta-icon, .facebook-icon, .twitter-icon{
    width:20%;
    height:5%;
}
.footer-block{
    position: absolute;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-gap:0%;
    grid-row: auto;
    width:45%;
    height:27%;
    top:50%;
    left:35%;
    padding-top:4%;
    padding-left:10%;
    font-weight: 600;
    color:aliceblue;
}
.footer-block:hover{
    color:antiquewhite;
}
.final{
    position: absolute;
    left:65%;
    top:85%;
    color:rgba(242,242,255,.62);
    width:25%;
    height:10%;
    font-size:large;
}
