.stickybar{
    width:auto;
    height: 150px;
    background-color:#4230DD;
    top: 0%;
    position: sticky;
    opacity: 0.9;
    
   
}
#logo{
    position: absolute; 
    top: 20px; 
    left: 150px;
    width: 250px; 
    height: auto;
}
.bar{
    position: absolute;
    top: 60PX;
    left: 500px;
    
}
a{
    text-decoration: none;
    padding: 22px;
    color: aliceblue;
}
#btn{
    color: #1C1279;
    background: #CaF4E0;
    padding: 16px 32px 17px;
    border-radius: 9px;
    box-shadow: 5px 5px;
    transition: transform 0.3s ease;
}
#btn:hover{
    transform: translateX(5px);
    transform: translateY(5px);
     
}
.dropdown {
    float: left;
    position: absolute;
    top: 3.5px;
    left: 320px;
  }
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #1C1279;
}
.dropdown-content a {
    color: aliceblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn {
    background-color:#4230DD;
    color: aliceblue;
    text-decoration: aliceblue;
    padding: 16px;
    opacity: 0.2;
    border: none;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1C1279;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  } 
  .big-text{
    position: absolute;
    top:220px;
    left: 120px;
    width:500px;
    height:600px;
    color:aliceblue;
    font-size: 40px;
    font-family: Figtree,sans-serif;
}
.normal-text{
    position: absolute;
    top:250px;
    font-size: 20px;
} 
.a1{
    width: auto;
    height:700px;
    /*background-color: #4230dd;*/
    background-image: url("https://assets-global.website-files.com/5e4482baa13a1926b23e2187/6227e532329aa42351839eb0_Home%20-%20hero%20qr%20code.png");
    background-repeat: no-repeat;
    background-size:1520px 900px;
    
    
 }
 #p{
    position: absolute;
    top: 500px;
    width: 120px;
    height: 30px;
 }
.image-76{
    margin: 0px 0px 36px;
    width: 250px;
}
.a2{
    margin: 40px;
    margin-top: 100px;
    padding-top: 100px;
    width: 90%;
    box-shadow: 2px 2px 5px 5px rgb(204, 206, 206);
}
